---
apiVersion: v1
kind: Secret
metadata:
  name: yelp-camp-secrets
type: Opaque
data:
  CLOUDINARY_CLOUD_NAME: ZHprcHNkY2VvCg==
  CLOUDINARY_KEY: NDk2NTU5OTMyMzg3NDI3Cg==
  CLOUDINARY_SECRET: N19ZeWYzZy1Mci1nY2lhYmpkeXdwckdNeGN3Cg==
  MAPBOX_TOKEN: cGsuZXlKMUlqb2laMkYxY21GMk1qZ3dPU0lzSW1FaU9pSmpiV2h5YkdWNWVqY3dhV2gyTW5KeU9E
ZzVhbXMwTW1sckluMC5VSUhibHR6T1FpWDh4UzM0Z1lpNlFBCg==
  DB_URL: bW9uZ29kYitzcnY6Ly9nYXVyYXYyODA5OkdhdXJhdjIwMDFAZ2F1cmF2LWRzLnVhYWh0cnUubW9u
Z29kYi5uZXQvP2FwcE5hbWU9Z2F1cmF2LURTCg==
  SECRET: Z2F1cmF2c2hhcmsK

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yelp-camp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yelp-camp
  template:
    metadata:
      labels:
        app: yelp-camp
    spec:
      containers:
        - name: yelp-camp-container
          image: adijaiswal/campa:latest
          ports:
            - containerPort: 3000
          env:
            - name: CLOUDINARY_CLOUD_NAME
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_CLOUD_NAME
            - name: CLOUDINARY_KEY
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_KEY
            - name: CLOUDINARY_SECRET
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_SECRET
            - name: MAPBOX_TOKEN
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: MAPBOX_TOKEN
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: DB_URL
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: SECRET
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30   # Adjust the initial delay here
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30   # Adjust the initial delay here

---
apiVersion: v1
kind: Service
metadata:
  name: yelp-camp-service
spec:
  selector:
    app: yelp-camp
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: LoadBalancer
